.contect-us {
    margin: 200px 0px 40px 0px;
}

.faq-box img {
    width: 450px;
    height: auto;
}


.contactDivider {
    border-radius: 100px;
    max-width: 500px;
    margin: 0 auto;
    background: #e6e6e6;
    height: 8px;
    margin-bottom: 40px;
}

.text h2 {
    font-size: 40px;
    text-align: initial;
    color: #0072CF;
}

.touch {
    text-align: center;
}

.touch p {
    padding: 15px 0px;
    font-size: 18px;
    color: #000;
    font-family: 'OpenSans_Light';
}

.touch h5 {
    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 1.2195;
    font-family: "OpenSans_Bold";
}


.faq-box label span {
    color: red;
    font-size: 20px;
    font-weight: bolder;
}

.faq-box label {
    font-family: 'OpenSans_SemiBold';
    color: #757575;
    font-weight: 600;
    font-size: 18px;
}

.form-control {
    background: #fff;
    border-radius: 4px;
    padding: 10px 18px;
    -webkit-box-shadow: 0px 7px 15px rgb(0 0 0 / 10%);
    box-shadow: 0px 7px 15px rgb(0 0 0 / 10%);
    border: none;
    font-size: 18px;
    color: #707070;
    border: 1px solid #dee2e6;
    font-family: 'OpenSans_Light';
}



@media screen and (max-width:992px) {
    .image-box {
        display: none;
    }

    .faq {
        display: initial;
    }
}



.form-control:focus {
    color: #212529;
    background-color: #fff;
    border: 1px solid #0080ff4f;
    outline: 0;
    -webkit-box-shadow: 0px 7px 15px rgb(0 0 0 / 10%);
    box-shadow: 0px 7px 15px rgb(0 0 0 / 10%);
}

.button-div {
    text-align: end;
}

.button-div .btn-primary {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'OpenSans_Bold';
    font-size: 20px;
    padding: 15px 60px;
}

.mage-box {
    text-align: center;
}


  
